{
  "presets": ["es2015", "react", "stage-2"],
  "env": {
    "development": {
      "plugins": ["lodash", "transform-es2015-modules-commonjs"]
    },
    "production": {
      "plugins": ["lodash", "transform-es2015-modules-commonjs"]
    },
    "es": {
      "plugins": ["lodash", "./babel-lodash-es"]
    }
  }
}