{
  "extends": "eslint-config-rackt",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/jsx-no-undef": 2,
    "react/wrap-multilines": 2
  },
  "plugins": [
    "react"
  ]
}
